/*****************globals*************/

#img1,#img2,#img3{
  width: 50px;
  height: 150px;
}

.container .row .okay{
  width: auto;
  height: 16em;
  
}


.okay:hover{
  box-shadow: hsl(0, 0%, 80%) 0 0 16px;
}



