
#slog{
    height: 50px;
    opacity: 10%;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
}

footer{
    color: #fcf7f7;
    background-color: rgb(49, 49, 49);
}
.ins-ic,.fb-ic{
    color:#fcf7f7
}


@media only screen and (max-width: 1081px) {
    #slog {
        display: none;
    }
};


@keyframes example {
    0%   {opacity:100%; left:0px; top:0px;}
    25%  {opacity:50%; left:200px; top:0px;}
};

