body{
    background-color: rgb(249, 250, 249) ;
}

.carousel-item:hover{
    opacity: 70%;
    border: 2px solid black;
    
    
}

h2{
    color: rgb(219, 17, 17);
}


#photo{
    width: 158px;
    height: 170px;
}
#card{
    width: auto;
    height: 18em;
}

#card:hover{
    
    background-color:rgb(250, 245, 245);
}

#left{
    padding-left: 4%;
}

h6#price{
    color: coral;
    padding-bottom: 10%;
}

#right{
    position: relative;
    top: -30px;
    padding-left: 48%;

}







