{% extends 'homeapp/base.html' %}

{% block nav_block %}
<div class="container">
    
    <div class="p-4 m-4">
        <div class='col-lg-4 col-md-8 col-sm-12 mx-auto border rounded pt-4 pb-2'>
            <h4 class="alert alert-light">Forget password.</h4>
            <form action="" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger">
                    <h6>{{error}}</h6>
                </div>
                {% endif %}
                
                <div class="form-group">
                    <label for="">Enter the email that you entered when registering.</label>
                    <input type="text" value='@gmail.com' class="form-control form-control-sm" name='email' placeholder="sample@gmail.com" required>
                </div>
                
                <div class="form-group">
                    <input type="submit" class='btn btn-sm btn-info col-lg-4' value="Sent reset link" required>
                </div>
            </form>
            
        </div>

    </div>

</div>


{% endblock %}