{% extends 'homeapp/base.html' %}
{% load static %}
{% load cart %}


{% block nav_block %}
<link rel="stylesheet" href="{% static 'homeapp/css/index.css' %}" type="text/css">


<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <br>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 m-auto'>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{{advertise.0.website}}" target="_blank">
                        <img class="d-block w-100" src="{{ advertise.0.imageUrl }}" alt="First slide">
                    </a>
                </div>
                {% for ad in advertise|slice:'1:' %}
                <div class="carousel-item">
                    <a href="{{ad.website}}" target="_blank">
                        <img class="d-block w-100" src="{{ad.imageUrl}}" alt="{{forloop.counter}}Slide">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        

    </div>




    <hr>
    <h3>New Arrivals</h3>
    <hr>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            {% for i in newarrivals_length %}
            <li data-target="#demo" data-slide-to="{{i}}"></li>
            {% endfor %}


        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">

                {% for product in newarrivals %}
                <div class='col-sm-4 col-xl-2 col-lg-2 col-md-3 col-6' >
                    <div class="square" >
                        <div class="card">
                            <img class='offer' src="{% static 'homeapp/pics/badge.png' %}" alt="Card image cap">
                            <h6 class='offpercent'>{{product.offpercent}}% off</h6>
                            <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}">

                                <img class="card-img-top" src="{{ product.imageUrl }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title">{{product.name|truncatechars:13}}</h6>
                                <!-- <h6 class="card-subtitle" id='price'> <del>Rs: {{product.crossprice}}</del></h6> -->
                                <h6 class="card-subtitle"> Rs: {{product.price}}</h6>


                                {% if not product|is_in_cart:request.session.cart %}
                                <form class='text-left' action='' method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name='data' value="{{product.pslug}}">
                                    <div class="left">
                                        <button type="submit" class='btn btn-outline-primary btn-sm'><i
                                                class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                                {% else %}
                                <form class='text-left' action="" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name='data' value="{{product.pslug}}">
                                    <input hidden type="text" name='remove' value="True">

                                    <div class="left">

                                        <button type="submit" class='btn btn-primary btn-sm'><i
                                                class="fa fa-check-square" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                                {% endif %}

                                <div class="right">
                                    <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}"
                                        class="card-link"><button
                                            class='btn btn-outline-primary btn-sm'>Detail...</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last %}

            </div>
            <div class="carousel-item">

                {% endif %}

                {% endfor %}
            </div>



        </div>



        <a class="carousel-control-prev " href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <!------------------------ Second slides --------------------------->
    <hr>
    <h3>Heavy Discounts</h3>
    <hr>
    <div id="memo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#memo" data-slide-to="0" class="active"></li>
            {% for i in onsale_length %}
            <li data-target="#memo" data-slide-to="{{i}}"></li>
            {% endfor %}


        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">

                {% for product in onsale %}
                <div class='col-sm-4 col-xl-2 col-lg-2 col-md-3 col-6' id=''>
                    <div class="square ">
                        <div class="card">
                            <img class='offer' src="{% static 'homeapp/pics/badge.png' %}" alt="Card image cap">
                            <h6 class='offpercent'>{{product.offpercent}}% off</h6>
                            <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}">

                                <img class="card-img-top" src="{{ product.imageUrl }}" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title">{{product.name|truncatechars:13}}</h6>
                                <!-- <h6 class="card-subtitle" id='price'> <del>Rs: {{product.crossprice}}</del></h6> -->
                                <h6 class="card-subtitle"> Rs: {{product.price}}</h6>


                                {% if not product|is_in_cart:request.session.cart %}
                                <form class='text-left' action='' method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name='data' value="{{product.pslug}}">
                                    <div class="left">
                                        <button type="submit" class='btn btn-outline-primary btn-sm'><i
                                                class="fa fa-cart-plus" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                                {% else %}
                                <form class='text-left' action="" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name='data' value="{{product.pslug}}">
                                    <input hidden type="text" name='remove' value="True">

                                    <div class="left">

                                        <button type="submit" class='btn btn-primary btn-sm'><i
                                                class="fa fa-check-square" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                                {% endif %}

                                <div class="right">
                                    <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}"
                                        class="card-link"><button
                                            class='btn btn-outline-primary btn-sm'>Detail...</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:5 and forloop.counter > 0 and not forloop.last %}

            </div>
            <div class="carousel-item">

                {% endif %}

                {% endfor %}
            </div>
        </div>

        <a class="carousel-control-prev " href="#memo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#memo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
{% endblock %}
{% block foot_block %}
{% endblock %}