{% extends 'homeapp/base.html' %}

{% block nav_block %}
<div class="container">
    
    <div class="p-4 m-4">
        <div class='col-lg-6 col-md-8 col-sm-12 mx-auto border rounded pt-4 pb-2'>
            <h4 class="alert alert-light">Reset link has been sent to your email.</h4>
            <div class="text-center">
                <a href="https://www.google.com/gmail/" target="_blank" class="btn btn-success btn-sm">Go to gmail  <i class="fa fa-envelope" aria-hidden="true"></i></a>
                
            </div>
            
            
        </div>

    </div>

</div>
{% endblock%}