{% extends 'homeapp/base.html' %}
{% load static %}
{% load cart %}
{% block nav_block %}
<link rel="stylesheet" href="{% static 'homeapp/css/index.css' %}" type="text/css">

<br>
<div class='container'>
    {% if sproduct|length == 0 %}
    <h1>No result found!</h1>
    {% for message in messages %}
    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">X</a>
        <strong>Message: </strong>{{ message }}
        

    </div>
    <h3>No results found for word: <b>{{query}}</b> 🙄</h3>
    <h4>Suggestions:</h4>
    <ul>
        <li>Try a naulo keyword.</li>
        <li>Try mitho keywords.</li>
        <li>Try choto keywords.</li>
    </ul>
    {% endfor %}
    {% else %}
    <div class='row'>
        {% for product in sproduct %}
        <div class='col-lg-2 col-md-6 col-sm-6 col-xs-6'>
            <div id='card' class="card text-center">
                <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}">
                    <img id="photo" class="card-img-top" src="{{ product.imageUrl }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h6 class="card-title">{{product.name|truncatechars:13}}</h6>
                    <h6 class="card-subtitle" id='price'> Rs: {{product.price}}</h6>
    
                    {% if not product|is_in_cart:request.session.cart %}
                    <form class='text-left' action="/#{{product.pslug}}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name='data' value="{{product.pslug}}">
                        <div class="left">
                            <button type="submit" class='btn btn-outline-primary btn-sm'><i class="fa fa-cart-plus"
                                    aria-hidden="true"></i></button>
                        </div>
                    </form>
                    {% else %}
                    <form class='text-left' action="/#{{product.pslug}}" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name='data' value="{{product.pslug}}">
                        <div class="left">
    
                            <button type="submit" class='btn btn-primary btn-sm'><i class="fa fa-check-square"
                                    aria-hidden="true"></i></button>
                        </div>
                    </form>
                    {% endif %}
    
    
                    <div class="right">
                        <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}" class="card-link"><button
                                class='btn btn-outline-primary btn-sm'>Detail...</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
        
        
    
    {% endif %}<br>
    <div class="">
        <nav aria-label="...">
            <ul class="pagination">
    
    
                {% if sproduct.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{ sproduct.previous_page_number }}" tabindex="-1">Previous</a>
                </li>
                {% else%}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% endif %}
    
    
    
                {% for i in sproduct.paginator.page_range %}
                {% if i == sproduct.number%}
                <li class="page-item active"><a class="page-link">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
    
                
    
                {% if products.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ sproduct.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                {% endif %}
    
    
            </ul>
        </nav>
    </div>
</div>
</div>

{% endblock %}
{% block foot_block %}
{% endblock %}
