{% extends 'homeapp/base.html' %}
{% load static %}
{% block nav_block %}
<style>
    #photo{
        width: 158px;
        height: 170px;
    }
    #card{
        width: auto;
        height: 18em;
    }

    #card:hover{
        
        background-color:rgb(250, 245, 245);
    }
    
    #left{
        padding-left: 4%;
    }

    h6#price{
        color: coral;
        padding-bottom: 10%;
    }

    #right{
        position: relative;
        top: -30px;
        padding-left: 48%;

    }
</style>

<br>
<div class='container'>
    {% if sproduct|length == 0 %}
    <h1>No result found!</h1>
    {% for message in messages %}
    <div class="alert alert-warning">
        <a class="close" href="#" data-dismiss="alert">X</a>
        <strong>Message: </strong>{{ message }}
        

    </div>
    <h3>No results found for word: <b>{{query}}</b> 🙄</h3>
    <h4>Suggestions:</h4>
    <ul>
        <li>Try a naulo keyword.</li>
        <li>Try mitho keywords.</li>
        <li>Try choto keywords.</li>
    </ul>
    {% endfor %}
    {% else %}
    <div class='row'>
        {% for product in sproduct %}
        <div class='col-lg-2 col-md-6 col-sm-6 col-xs-6'>
            <div id='card' class="card text-center">
                <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}">
                    <img id="photo" class="card-img-top" src="{{ product.imageUrl }}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <h6 class="card-title">{{product.name}}</h6>
                    <h6 class="card-subtitle" id='price'> Rs: {{product.price}}</h6>

            
                    
                    <form class='text-left' action="" method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name='data' value="{{product.pslug}}">
                        
                        <button id='left' type="submit" class='btn btn-outline-primary btn-sm'><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                    </form>
                    
                    
                    <a href="{% url 'homeapp:prodetail' pslug=product.pslug %}" id='right' class="card-link"><button class='btn btn-outline-primary btn-sm'>Detail...</button></a>
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
   
        
        
    
    {% endif %}
</div>

{% endblock %}
{% block foot_block %}
{% endblock %}
